name: CD

on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  #
  placeholder:
    name: Placeholder CD
    runs-on: ubuntu-latest
    steps:
      - name: Placeholder Step
        run: echo "Placeholder step ${{ github.ref_name }}"
#
